/*OVERIDE SWIPER SLIDE */
.swiper-container{
  overflow: hidden;
  position: relative;
}
.uk-grid{
    margin-right: 0;
}
/**CONFIG IMAGE **/
.img-cover,
.img-scaledown{
    display: block;
}
.img-cover > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img-scaledown > img{
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}
.onePercent{
    padding-right: 0;
    padding-left: 2.1%;
 
}
.twoPercent{
    padding-right: 0;
    padding-left: 1.5%;
}

/*BUTTON*/
.btn{
    display: inline-block;
    padding: 5px 20px;
    background: green;
}