/*-1920
-1280
-1080
-1024
-800
-768
-736 
-600
-415
-375 */
@media (min-width: 1200px) {
    .uk-grid .top-categories {
        padding-right: 20px;
        padding-left: 20px;
    }

    .panel-category .uk-grid {
        margin-right: 0;
    }
}

@media(max-width: 1080px) {
    .uk-container {
        max-width: 1000px;
    }

    .header-search {
        width: 600px;
    }

    .header-search .form-row:before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        right: 35%;
        height: 30px;
        width: 1px;
        background-color: #e9e9e9;
    }

    .twoPercent .slide-item .img img {
        height: 346px;
    }
}

@media(min-width: 1025px) and (max-width: 1079px) {
    .twoPercent .slide-item .img img {
        max-height: 340px;
    }
}

@media(min-width: 1023.5px) and (max-width: 1024px) {
    .uk-container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .slide-item .img.img-scaledown {
        height: 378px;
    }

    .banner-item .content-overlay .overlay-title {
        font-size: 14px;
        margin-bottom: 10px;
        line-height: 17px;
    }

    .banner-wrapper .banner-item:not(:last-child) {
        margin-bottom: 0;
    }

    .twoPercent .slide-item .img img {
        height: 337px;
    }

    .panel-banner {
        padding: 0;
    }

    .onePercent {
        padding-left: 14px;
    }

    .twoPercent .slide-item .img img {
        height: 367px;
    }


}

@media(min-width: 769px) and (max-width: 1023px) {
    .panel-banner {
        padding: 0;
    }

    .uk-container {
        padding: 0;
    }

    .panel-banner .banner-item img {
        height: 168px;
    }

    .uk-grid .onePercent {
        padding-left: 0;
    }

    .banner-wrapper .banner-item img {
        padding-left: 9px;
    }

    .panel-commit {
        padding: 20px 36px;
    }

    .banner-item:nth-child(2) .content-overlay {
        left: 51%;
    }

    .heading-2 {
        padding: 10px;
    }

    .panel-property .st-2 .info {
        transform: translateY(-88%);
    }

    .st-2 {
        height: 350px;
    }

    .swiper-button-next,
    .swiper-rtl .swiper-button-next,
    .swiper-button-prev,
    .swiper-rtl .swiper-button-prev {
        display: none;
    }

    .commit-item .infor-title .title>* {
        font-size: 12px;
    }

    .panel-commit .uk-grid-medium {
        flex-wrap: nowrap;
    }
    .panel-commit .panel-body .uk-grid-medium{
       align-items: center;
    }
    .mobile .uk-flex{
        justify-content: space-around;
    }
}

@media(min-width: 531px) and (max-width: 768px) {
    .uk-grid {
        padding: 0;
    }

    .panel-banner .banner-item img {
        height: 168px;
    }

    .panel-banner .uk-container {
        padding-left: 0;
        padding-right: 0;
    }

    .banner-wrapper .banner-item img {
        padding-left: 9px;
    }

    .twoPercent .slide-item .img.img-scaledown {
        height: auto;
    }

    .banner-item:nth-child(2) .content-overlay {
        left: 48%;
    }

    .onePercent {
        padding-left: 0;
    }

    .twoPercent {
        padding-left: 0;
    }

    .twoPercent img {
        vertical-align: 0%;
    }

    .panel-commit {
        padding: 36px 48px;
    }

    .uk-grid .top-categories {
        padding-right: 20px;
        padding-left: 20px;
    }

    .panel-category .uk-grid {
        margin-right: 0;
    }

    .uk-grid .uk-first-column .commit-item .uk-flex.uk-flex-middle {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        text-align: center;
    }

    .panel-banner {
        padding: 0 9px;
    }

    .uk-grid-stack .uk-first-column {
        padding-right: 0;
    }

}

@media(min-width: 360px) and (max-width: 530px) {
    .uk-container {
        padding: 0;
    }

    .panel-banner {
        padding: 0 7.5px;
    }

    .onePercent {
        display: contents;
    }

    .twoPercent {
        margin-bottom: 2px;
    }

    .slide-item .overlay-title {
        font-size: 25px;
        line-height: 28px;
    }

    .slide-item .btn {
        padding: 5px 8px;
    }

    .slide-item .btn-readmore span:not(:last-child) {
        padding: 0 15px;
    }

    .onePercent .banner-wrapper .banner-item:first-child {
        margin-top: 7px;
    }

    .uk-grid .uk-first-column .commit-item .uk-flex.uk-flex-middle {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        text-align: center;
    }

    .panel-advertise .uk-flex-nowrap {
        flex-wrap: wrap;
    }

    .st-2 img {
        height: 148px;
    }

    .panel-product .product-overlay {
        visibility: hidden;
    }

    .product-wrapper.product-switcher .info {
        transform: translateY(-95%);
    }

    .product-wrapper .uk-subnav-pill>.uk-active>a::before {
        height: 0.5px;
    }

    .product-item .product-name>* {
        font-size: 13px;
    }

    .product-price .uk-flex {
        display: block;
    }
    .st-2{
        height: 300px;
    }
    .panel-background img{
        height: 230px;
    }
    .panel-background .overlay-name{
        font-size: 23px;
    }
    .panel-background .overlay-discription{
        font-size: 14px;
    }
    .panel-background .btn{
        transform: translateY(-9px);
    }
    .panel-property .swiper-button-next,
    .panel-property .swiper-button-prev{
        display: none;
    }
    .panel-property .uk-inline .uk-list li > *{
        color: black;
        font-size: 15px;
        line-height: 18px;
        font-family: "Poppins";
    }
    .panel-property .heading-2{
        padding: 10px 5px;
        font-size: 15px;
        border-bottom: 1px solid #e8e8e8;
    }
    .panel-property .st-2 .info {
        transform: translateY(-115%);
    }
    .panel-property .uk-button-small{
        font-size: 10px;
        height: 20px;
        line-height: 18px;
    }
    .panel-property .uk-dropdown{
        padding: 15px;
    }
    .brand-item .img {
        height: 155px;
    }
    .panel-property .heading-1{
        font-size: 26px;
    }
    .panel-banner .swiper-button-next,
    .panel-banner .swiper-button-prev{
        background: none;
    }
    .footer-upper .uk-width-1-4{
        width: 100%;
    }
    .footer-upper .uk-width-1-2{
        display: contents;
        margin-top: 10px;
    }
    .footer-upper .uk-width-1-2 .ft-menu-item:first-child{
        width: 207px;
    }

    .footer-menu {
        margin-top: 20px;
    }
    .ft-subcribe form .input-text{
        height: 30px;
        width: 50%;
    }
    .ft-subcribe form button{
        padding: 0 23px;
        height: 30px;
        right: inherit;
    }
    .ft-social .ft-social-item {
        width: 30px;
        height: 30px;
        line-height: 28px;
    }
    .copyright{
        margin-top: -45px;
    }
    .panel-brand .panel-head{
        margin-bottom: -9px;
    }
}

@media(min-width: 315px) and (max-width: 415px) {
    .content-overlay .overlay-title {
        font-size: 26px;
        line-height: 29px;
    }

    .content-overlay .overlay-discription {
        font-size: smaller;
    }

    .content-overlay .btn-readmore {
        padding: 5px 13%;
    }

    .onePercent .banner-wrapper {
        display: block;
    }

    .panel-banner {
        padding: 0;
    }

    .banner-wrapper .banner-item:not(:last-child) {
        margin-bottom: 5px;
    }

    .uk-grid .uk-first-column .commit-item .uk-flex.uk-flex-middle {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        text-align: center;
    }

}