@font-face {
    font-family: FONT;
    src: url('/src/public/resource/Roboto/Roboto-Medium.ttf');
}
:root{
    --white-color: #fff;
    --black-color: black;
    --border-radius-50px: 50%;
    --fz-14: 14px;
    --background-btn: #f03333;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.uk-container-1520 {
    max-width: 1520px;
    font-family: FONT;
}

/************HEADER***************/
.header-upper {
    background: #f2f2f2;
    padding: 10.5px 0;
    font-size: 13px;
}

.header-upper a {
    color: black
}

.header-contact .header-contact-item {
    position: relative;
    padding-left: 20px;
}

.header-contact .header-contact-item span.uk-icon {
    top: 0;
    left: 10;
    font-size: 10px;
}

.header-contact .header-contact-item span.uk-icon svg {
    width: 15px;
}

.contact-link:not(:last-child) {
    margin-right: 10px;
    padding-right: 10px;
    position: relative;
}

.contact-link:not(:last-child):before {
    content: " ";
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    width: 1px;
    height: 18px;
    background: #d4d4d4;
}

.header-middle {
    padding: 25px 0 10px 0;
    border-bottom: 1px solid #e9e9e9;
}

.header-middle .logo {
    max-width: 103px;
    margin-left: 1.5%;
    margin-top: 1%;
}



.header-search {
    width: 810px;
}

.header-search .input-text {
    width: 100%;
    height: 48px;
    border-radius: 100px;
    border: 1px solid #e9e9e9;
    padding-left: 20px;
    outline: 0;
    padding-right: 220px;
}

.input-text::-webkit-input-placeholder {
    font-family: FONT;
}

.header-search .uk-form {
    position: relative;
}

.header-search .btn-search,
.header-search .search-dropdown {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.header-search .search-dropdown {
    right: 100px;
}

.header-search .btn-search {
    right: 7px;
}

.header-search .form-row:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 25%;
    height: 30px;
    width: 1px;
    background-color: #e9e9e9;
}

.search-category-title {
    font-size: 14px;
}

.search-category-title svg {
    width: 15px;
}

.header-search .btn-search {
    width: 76px;
    height: 36px;
    background: #000;
    border-radius: 100px;
    color: white;
}

.widget-item .uk-badge.uk-badge-danger {
    transform: translate(-50%, -20%);
    background: red;
}

.header-search .uk-form {
    margin-bottom: 5px;
}

.most-search>* {
    font-size: 13px;
    font-family: 300;
    color: black;
}

.header-widget {
    margin-top: 1%;
}

.header-widget .widget-item svg {
    width: 25px;
}

.header-widget .widget-item:not(:first-child) {
    margin-left: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: auto;
    transform: translate(-50%, 4%);
    overflow-y: scroll;
    max-height: 350px;
    opacity: 1;
}

.search-dropdown .uk-nav.uk-nav-default {
    padding: 15px 20px;
    min-width: 200px;
}

ul {
    padding: 0;
    margin: 0;
}

.clear-list {
    list-style: none;
}

.header-lower {
    padding: 15px 0;
}

.department-wrapper {
    margin-right: 50px;
    width: 280px;
    background-color: #F03333;
    border: 1px;
    border-radius: 5px 5px 0 0;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    cursor: pointer;
    left: 3%;
}

.department-wrapper .uk-icon {
    max-width: 15px;
}

.department-wrapper span {
    position: relative;
}

.department-wrapper>span::before {
    position: absolute;
    content: "";
    width: 22px;
    display: block;
    top: 3px;
    height: 2px;
    background: white;
    left: -30%;
}

.department-wrapper>span::after {
    position: absolute;
    content: "";
    width: 29px;
    display: block;
    bottom: 2px;
    height: 2px;
    background: white;
    left: -30%;
}

.department-wrapper>span>span::before {
    position: absolute;
    content: "";
    width: 15px;
    bottom: 9px;
    height: 1.5px;
    left: -30%;
    background: white;
}

.main-menu>li:not(:last-child) {
    margin-right: 30px;
}

a:hover {
    text-decoration: none;
}

.main-menu>li a {
    color: black;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 13px;
}

.main-menu>li a i {
    width: 13px;
}

.header-lower .header-notice {
    font-size: 13px;
}

.header-notice .uk-flex .uk-icon {
    margin-right: 10px;
    color: #F03333;
}

.department-wrapper {
    position: relative;
    transition: 0.4s ease;
}

.category-dropdown {
    position: absolute;
    left: 0;
    top: 100%;
    background: white;
    box-shadow: 0 0 10px 1px hsl(0, 0%, 56%, .1);
    width: 100%;
    border-radius: 0 0 5px 5px;
}

.category-dropdown>ul {
    padding: 0 40px;
}

.category-dropdown>ul>li:not(:last-child) {
    border-bottom: 1px solid #e9e9e9;
}

.category-dropdown>ul>li>a {
    display: block;
    padding: 10px 0 10px 20px;
    font-size: 14px;
    color: #636363;
    position: relative;
    font-family: FONT;
}

.category-dropdown>ul>li>a i {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
}

.category-dropdown>ul>li>a.text-bold {
    font-weight: 600;
    color: black;
}

.category-dropdown>ul>li>a::before {
    background: #d6d6d6;
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 6px;
    height: 6px;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 50%;
}

.category-dropdown>ul>li>a.blue::before {
    background: #437cfe;
}

.category-dropdown>ul>li>a.green::before {
    background: #5fca51;
}

.category-dropdown>ul>li>a.purple::before {
    background: #C24EBE;
}

.close-categories {
    background: rgb(204, 204, 204);
    padding: 0 25px;
}

.close-categories>span {
    display: block;
    padding: 10px 0;
    font-weight: 500;
    font-size: 14px;
    color: #000;
}

.open>span>span .uk-icon {
    rotate: -180deg;
}

/*page-slide*/

.panel-slide .slide-item {
    position: relative;
}

.panel-slide .slide-overlay {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 10%;
}

.panel-slide .slide-overlay .slide-title {
    font-size: 45px;
    line-height: 48px;
    color: var(--white-color);
    font-weight: 600;
    margin-bottom: 10%;
}

.panel-slide .slide-overlay .slide-discription{
    color: var(--white-color);
    text-transform: uppercase;
    margin-bottom: 3%;
}

.panel-slide .slide-overlay .btn-readmore{
    background: var(--white-color);
    border-radius: 50px;
    font-size: var(--fz-14);
    color: var(--black-color);
    padding-right: 10%;
    position: relative;
}
.panel-slide .slide-overlay .btn-readmore::before{
    content: ' ';
    display: block;
    position: absolute;
    top: 10px;
    width: 20%;
}
.panel-slide .slide-overlay .btn-readmore:hover{
    background: var(--black-color);
    color: var(--white-color);
}
.panel-slide .slide-overlay .btn-readmore .uk-icon{
    max-width: 16px;
    position: absolute;
    bottom: 25%;
    right: 3%;
    background: var(--background-btn);
    border-radius: var(--border-radius-50px);
}
.panel-slide .slide-overlay .btn-readmore .uk-icon svg{
    color: var(--white-color);
}




